{% extends 'base.html' %}
(%load static%)

{% block content %}

<section class="section-conten padding-y bg">


<div class="container">
	<div class="row">
	<aside class="col-md-3">
		<!--   SIDEBAR   -->
		<ul class="list-group">
			<a class="list-group-item active" href="#"> Dashboard</a>
			<a class="list-group-item" href="#"> My orders </a>
			<a class="list-group-item" href=""> Change my password </a>	
		</ul>
		<br>
		<a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a>
		<!--   SIDEBAR .//END   -->
	</aside>
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">welcome</strong>
			<span>{{user.first_name}} {{user.last_name}}</span>
		</header>
		<div class="card-body">
			<div class="row">
				
				<div class="col-md-6">
					<div class="card">
						<div class="card-body">
					       Email: {{user.email}} <br>
			    	        Phone: {{user.phone_number}}<br>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="card">
						<div class="card-body">
					       Email: {{user.email}} <br>
			    	        Phone: {{user.phone_number}}<br>
						</div>
					</div>
				</div>
				
					
			</div>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
		<div class="table-responsive">
		
		</div> <!-- table-responsive .end// -->
		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>

{% endblock %}