{% extends 'base.html' %}
(%load static%)

{% block content %}

<section class="section-conten padding-y bg">


<div class="container" style="padding-top: 7%; padding-bottom: 5%;">
	<div class="row">
	{%include 'side_bar.html'%}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">welcome</strong>
			<span>{{user.first_name}} {{user.last_name}}</span>
		</header>
		<div class="card-body">
			<div class="row">
				
				<div class="col-md-6">
					<div class="card">
						<div class="card-body">
					       Email: {{user.email}} <br>
			    	        Phone: {{user.phone_number}}<br>
						</div>
					</div>
				</div>
			</div>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
		<div class="table-responsive">
		
		</div> <!-- table-responsive .end// -->
		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->



</section>

{% endblock %}